.title-image {
    height: 300px;
    /* display: inline; */
}

.project-wrapper {

}

hr {
    border: none;
    height: 2px;
    background: white;
    /* display: block; */
    /* position: relative; */
    /* padding: 0; */
    /* margin: 8px auto; */
    /* height: 0; */
    /* width: 100%; */
    /* max-height: 0; */
    /* font-size: 1px; */
    /* line-height: 0; */
    /* clear: both; */
    /* border: none; */
    /* border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff; */
 }

 .item-group-button{
    width: 130px;
    height: 40px;
    margin: 17px 0px 0px 20px;
    border-radius: 10px;
    background: #4e5154;
    display: inline-block;
}

.project-wrapper .left img {
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;
    width: 30%;
    max-width: 250px;
    min-width: 150px;
    height: auto;
}

.project-wrapper .right img {
    float: right;
    margin: 0 20px 0 20px;
    width: 150px;
    height: 150px;
    width: 30%;
    max-width: 250px;
    min-width: 150px;
    height: auto;
}

/* .project-wrapper img {
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;
    width: 30%;
    max-width: 250px;
    min-width: 150px;
    height: auto;
} */

.project-wrapper p {
    text-align: justify;
    /* text-indent: 2em; */
}

.project-wrapper b {
    text-align: justify;
    /* text-indent: 2em; */
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 25px;
    top: -30px;
    /* font-size: 40px; */
    /* top: 100%; */
}
  
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 15px;
    top: -30px;
    /* font-size: 40px; */
    /* top: 100%; */
}

.carousel-indicators {
    top: -20px;
    /* margin-bottom: 50px;
    margin-top: -5px; */
}

/* .carousel-inner {
    padding-left: 30px;
    padding-right: 30px;
} */

.carousel {
    padding-left: -100px;
    padding-right: -100px;
}

.carousel-control .glyphicon-circle-arrow-right {
    /* color: white; */
    /* right: -100px; */
    top: -30px;
    font-size: 40px;
}

.carousel-control .glyphicon-circle-arrow-left {
    /* color: white; */
    /* left: -100px; */
    top: -30px;
    /* left: -10px; */
    font-size: 40px;
}