.skillbar-container {
    position:relative;
    display:block;
	margin-bottom: 15px;
	/* -moz-border-radius:30px;
	-webkit-border-radius:30px; */
	/* -webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color; */
    

    width: 100%;
    /* background-color: white; */
    background-color: #666463;
    background-color: rgba(255,255,255,.1);
    /* border-radius:30px; */
	height:35px;
	height:5px;
}
  
.skills {
    /* text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    border-radius:30px; */

	height:35px;
    height:5px;
	width:0px;
	/* background:#6adcfa; */
	/* border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px; */
}