    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- <canvas id="myCanvas" width="210" height="210" style="border: 1px solid white"></canvas> -->
                        <canvas id="myCanvas" width="210" height="210"></canvas>
                        <!-- <canvas id="myCanvas" style="border: 1px solid white"></canvas> -->
                        
                        
                        <!-- <h1 class="brand-heading">&nbsp;</h1> -->
                    
                        <h1>{{ site.description }}</h1>
                        <h1>
                            {% capture title %}{% for page in site.pages | sort: "title" %}{% if forloop.first %}{{ page.title }}{% endif %}{% endfor %}{% endcapture %}
                        </h1>
                        <!-- <a href="#{{ title }}" class="btn btn-circle page-scroll"> -->
                        <a href="#{{ title }}" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Loading Animation -->
    <div class="loading-page-bg">
        <div class="loading-page">
            <h1>loading</h1>

            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>

        </div>
    </div>
