<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  
  <!-- Styles -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/header.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/navbar.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/timeline.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/footer.css">

  <!-- Nice icons, see: https://www.w3schools.com/w3css/w3css_icons.asp -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <!-- <link rel="stylesheet" href="assets/css/main.css"> -->
  <!-- Style for syntax highlighting with prism, see http://prismjs.com/ -->
  <!-- <link rel="stylesheet" href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}"> -->
</head>
