<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
      <li class="main-items"><a href="{{site.baseurl}}/">Home</a></li>
      <li class="main-items">
        <a href="{{site.baseurl}}/search/">
           <img style="vertical-align:middle" src="{{site.baseurl}}/assets/images/search_icon.svg" alt="search_icon">
        </a>
      </li>
      <li class="main-items"><a href="{{site.baseurl}}/about/">About</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">
      <a href="{{site.baseurl}}/" class="logo-link">Sim<svg class="hat" viewBox="0 0 450.79805 441.53398"><img style="vertical-align:middle" src="{{site.baseurl}}/assets/images/{% if site.logo-pic %}{{site.logo-pic}}{% endif %}" alt="logo-pic"></svg>Toys
      </a>
    </div>
  </div>
</header>
