<html>
<!-- Fullscreen overlay -->
<div class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <i class="fa fa-times fa-1x" aria-hidden="true"></i>
    </a>
    <div class="overlay-content">
        <a href="{{site.baseurl}}/index.html">
        Home
        </a>
        <a href="{{site.baseurl}}/search.html">
        Search
        </a>
        <a href="{{site.baseurl}}/about.html">
        About
        </a>
    </div>
</div>

<!-- Navigation bar -->
<div class="navbar">
    <a href="{{site.baseurl}}/index.html">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
    <a class="right" style="cursor:pointer" onclick="openNav()">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </a>
    <a class="right" href="{{site.baseurl}}/search.html">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </a>
</div>  
</html>