.background-image {
    /* background-image: url("../../assets/images/bg_new.svg"); */
    background-image: url("../../assets/images/bg_new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
    z-index: -1;

    /* filter: blur(0.5px); */
}

.header-title-wrapper {
    /* position: absolute;
    left: 0%;
    margin-left: 10%;
    margin-right: 10%;
    top: 25%; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 25%;
    right: 25%;
    top: 25%;
}

.header-title-wrapper .header-content {

    color: white;
    position: relative; 
    /* left: -50%;   */

    background: rgba(51, 51, 51, 0.9);
    border-radius: 20px;
    box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.55);

    padding: 0px 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* min-width: 300px; */

    text-align: center;

    /* line-height: 30px; */
}

.header-content h1 {
  margin: 0px 0px;
  color: white;
}

.header-content p {
    margin-top: 0;
    color: white;
}

@media screen and (max-width: 600px) {
    .header-title-wrapper {
        left: 10%;
        right: 10%;
    }
}