---
layout: base
---
<main>
<div class="content">
<!-- <img src="http://d.gr-assets.com/authors/1397426898p5/203714.jpg" width="25%" align="left" > -->
<img src="{{site.baseurl}}/assets/images/author.svg">
My name is Jonas Harsch. I’m a simulation technology student of university stuttgart. In my blog I cover topics I'm intrested in.
<ul>
  <li>Nonlinear continuum mechanis</li>
  <li>High performance computing (implementation of parallel numerical solver using <i>MPI</i>, <i>OpenCL</i> and <i>CUDA</i>)</li>
  <li>Isogeometric analysis</li>
  <li>Programming (<i>C++</i>, <i>Fortran</i>, <i>python</i>, <i>cmake</i>)</li>
</ul>
</div>
<!-- <center>Für nichts und wiedernichts!</center> -->
<!-- <div class="content">
  <h3>Sticky Navigation Example</h3>
  <p>The navbar will stick to the top when you reach its scroll position.</p>
  <p>Some text to enable scrolling... Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
</div> -->
</main>
